.App {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 39%,
    rgba(15, 23, 90, 1) 52%,
    rgba(23, 37, 124, 1) 58%,
    rgba(18, 37, 129, 1) 72%,
    rgba(18, 32, 103, 1) 76%
  );
  min-height: 100vh;
}

body {
  margin: 0%;
  max-width: 100%;
}

#root {
  min-height: 100vh;
}

/******************************************************************************/
/* Navbar */

.logo-icon {
  width: 50px;
}

.appNav {
  margin: 0 auto;
  max-width: 1700px;
  margin-top: 10px;
}

.rightNav {
  float: right;
}

.pageButtonBold {
  font-weight: 700;
}

.buttonContainer {
  background-color: rgba(0, 0, 0, 0.606);
  color: #fff;
  border-radius: 9px;
  padding: 9px;
  /* padding-left: 10px;
  padding-right: 10px; */
  justify-content: space-around;
  display: flex;
  /* padding-bottom: 5px; */
}

.buttonContainerTop {
  margin-left: 175px;
}

.connectButton {
  background-color: rgb(253, 234, 241) !important;
  border-radius: 16px !important;
  border: 1px solid #fff !important;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(213, 0, 102) !important;
}

.btn {
  margin-right: 5px;
}
.connectButtonContainer {
  display: inline-block;
  margin-right: 10px;
}

.connectButton:hover {
  border-color: rgb(213, 0, 102) !important;
  cursor: pointer;
}

.hoverBold:hover {
  cursor: pointer;
}

/******************************************************************************/
/* Swap Container */
.appBody {
  height: 100%;
  padding-top: 80px;
}

.swapContainer {
  background-color: rgba(203, 231, 240, 0.097);
  width: 440px;
  height: 350px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;

  padding: 6px;
}

.swapHeader {
  text-align: left;
  padding: 4px 20px 0px 20px;
}

.swapText {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.gearContainer {
  float: right;
  font-size: 22px;
}

/******************************************************************************/
/* Currency Input */
.currencyInput {
  background-color: rgba(203, 231, 240, 0.097);
  margin: 10px !important;
  padding: 10px;
  border-radius: 20px;
}
.currencyInput:hover {
  border-color: #65cdee !important;
  border: 1px solid;
}
::placeholder {
  opacity: 0.25;
}
.numberContainer {
  text-align: left;
}
.spinnerContainer {
  height: 55px;
  line-height: 55px;
}
.currencyInputField {
  font-size: 28px;
  display: inline-block;
  width: 100%;
  border: none;
  color: #fff;
  background-color: rgba(203, 231, 240, 0);
}
.tokenContainer {
  text-align: right;
}
.tokenName {
  font-size: 28px;
  display: block;
  color: rgb(255, 255, 255);
}
.balanceContainer {
  display: block;
}
.balanceAmount {
  width: 100%;
  font-size: 16px;
  display: inline;
  color: rgb(255, 255, 255);
}

/******************************************************************************/
/* Ratio */
.ratioContainer {
  text-align: left;
  margin-left: 10px;
  height: 28px;
}

/******************************************************************************/
/* Swap Button */
.swapButtonContainer {
  margin: 10px;
}
.swapButton {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
  background-color: #dd2f81;
  cursor: pointer;
}

/******************************************************************************/
/* Config Modal */

.modaly {
  position: fixed;
  left: 0;
  top: -510px;
  right: -110px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);
}

.modal-content {
  background-color: #fff;
  width: 300px !important;
  padding: 0px 15px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}

.modalTitle {
  margin: auto;
}

.titleHeader {
  margin-left: -12px;
}
.labelField {
  padding-left: 0px !important;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}
